
.exclusive-block{
	display: block;
	text-align: center;
	margin-bottom: 20px;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $dark-brown;
	font-weight: 700;
	position: relative;
	padding: 9px 9px 16px;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		border: 1px solid $gray-simple-01;
	}
	@include breakpoint(tablet) {
		margin-bottom: 20px;
	}
	@include breakpoint(mobile) {
		font-size: 14px;
		line-height: 20px;
		padding-bottom: 10px;
	}
	&:hover{
		color: $dark-brown;
		p{
			text-decoration: underline;
		}
	}
	&:hover:before{
		border: 2px solid $gold-light;
	}
	.img{
		display: block;
		height: 285px;
		font-size: 0;
		line-height: 0;
		margin: 0 0 22px;
		overflow: hidden;
		@include breakpoint(desktop-md) {
			height: 202px;
		}
		@include breakpoint(tablet) {
			height: 209px;
		}
		@include breakpoint(mobile) {
			height: auto;
			margin-bottom: 10px;
		}
		img{
			vertical-align: top;
			width: 100%;
		}
	}
	strong{
		color: $gold-02;
		display: block;
		font-size: 24px;
		line-height: 28px;
		@include breakpoint(mobile) {
			font-size: 18px;
			line-height: 24px;
		}
	}
	p{
		margin: 0 0 4px;
		@include breakpoint(mobile) {

		}
	}
}